Package: com.maurice.revolutguard
Name: RevolutGuard
Version: 1.2.0
Architecture: iphoneos-arm64e
Description: Revolut JB-Bypass: voller SEON+Incognia-Pfadkatalog, canOpenURL/getenv/sysctl/opendir/dlsym + dyld-Image-Maskierung.
Maintainer: Maurice
Author: Maurice
Section: Tweaks
Depends: mobilesubstrate
